/* BirthdaysList.css */
.main-container {
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

section {
  background: white;
  padding: 20px;
  width: 400px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.birthday-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.people-list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.people-list:last-child {
  border-bottom: none;
}

.people-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.people-name {
  font-size: 18px;
  font-weight: bold;
}

.people-age {
  font-size: 16px;
  color: #666;
}

.clear-btn {
  font-family: cursive;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: rgb(238, 37, 37);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.clear-btn:disabled {
  background: gray;
  cursor: not-allowed;
}
